@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.9);
}

.bannerImage {
  background-image: url('../assets/BannerNostalgia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}